
html {
    height: 100%;
}

body {
    background-color: #eeeeee !important;
    min-height: 100%;
    padding-top: 71px;
}

@media screen and (max-width: 767px) {
    body { padding-top: 65px; }
}

.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}

.form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.btn:focus {
    border-color: none !important;
    box-shadow: none !important;
}

#app{
    padding-right: 0px;
    padding-left: 0px;
}

.github{
    margin-top: 5px;
    margin-left: 8px;
    height: 15px;
}

.github-text{
    padding-left: 5px;
    font-size: 80%;
}

.gitcoin{
    height: 30px;
}

.donate-text{
    padding-left: 5px;
    font-size: 80%;
}

a[target="_blank"]::after {
    display: inline-block;
    content: "⇱";
    color: white;
    position: relative;
    margin: 0 3px 0 5px;
    transform: rotate(90deg);
  }